# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.mo
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations (opcional, se você quiser ignorar)
*/migrations/*.py
!*/migrations/__init__.py

# Environment variables
.env
